<hr>
<a href="https://twitter.com/gaijinDamy" class="twitter-follow-button" data-show-count="false">Follow @gaijinDamy</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>Ce site web a été développé dans le cadre du module de Web Sémentique de la licence pro SIL IDSE de l'IUT de Nice-Côte d'Azur
</body>
</html>