<% var title = 'Formulaire login' %>
<% include head %>
<div class="error_message">

    <!-- ERROR MESSAGE-->
    <% if (locals.error_message) {%>
   <strong style="color:rgba(255,62,43,0.93)"><%= error_message %></strong>
    <% }%>

    <div style="margin:1em;max-width: 500px" class="panel panel-default">
        <div class="panel-heading"><h1 style="margin:0px" >Identifiez-vous</h1></div>
        <div class="panel-body">
            <form name="login" action="/login" method="post" accept-charset="utf-8" class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="username" id="inputEmail3" placeholder="Email" value=""required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                        <a href="inscription.php">
                            <button type="button" class="btn btn-link">S'inscrire</button>
                            </a>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- myBodyContainer end tag-->

<% include foot %>