<% var title = 'Formulaire login' %>
<% include head %>
<h1>Login</h1>
<div class="error_message">

    <!-- ERROR MESSAGE-->
    <% if (locals.error_message) {%>
   <strong style="color:rgba(255,62,43,0.93)"><%= error_message %></strong>
    <% }%>

</div>
Accès au <a href="/profile">/profil</a>
<form method="post" action="/login">
  <p>
    <label>Email:</label>
    <input type="text" name="username" value="">
  </p>
  <p>
    <label>Mot de passe:</label>
    <input type="password" name="password">
  </p>
  <p>
      <input type="submit" class="btn btn-primary" value="Se connecter"> <a href="inscription"><input type="button" class="btn btn-link" value="S'inscrire"></a>
  </p>
</form>

</div><!-- myBodyContainer end tag-->

<% include foot %>