<% var title = 'Main page' %>
<% include head %>

<a href="/paint"><button class="btn btn-primary" >Dessiner</button></a>
<h1>Les Dessins</h1>
</div><!-- myBodyContainer end tag-->


<% include foot %>