<% var title = 'Main page' %>
<% include head %>
<h1>Dessiner</h1>

<a href="/paint"><button class="btn btn-primary" >Dessiner</button></a>

<h1>Vos dessins</h1>

</div><!-- myBodyContainer end tag-->

<% include foot %>